header {
    width: 100%;
    height: 100%;
}

.navbar {
    font: 50px Arial;
    color: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_lista {
    display: flex;
    list-style: none;
    gap: 80px;
    text-transform: uppercase;
}

p {
    font-size: 20px;
    color: green;
}

ul {
    color: black;
    font-size: 20px;
}